<!DOCTYPE html>
<html lang="en">    
    <head>
        <%- include('../../layouts/head') %> 
    </head>
    <body>
        <%- include('../../layouts/header') %>
        <%- include('../../layouts/drop-menu') %>
        <%- include('../../pages/books/detail') %>
        <%- include('../../layouts/footer') %>
    </body>





</html>