<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %> 
</head>
<body>
    <%- include('../layouts/header') %>
    <%- include('../layouts/drop-menu') %>
<div class="saved-books-container">
    <h1>Saved Books <span class="total-books-text"><%= typeof totalBooks !== 'undefined' ? totalBooks : 0 %></span></h1>
</div>
<div class="welcome-container">
    <h1 class="welcome-title">Welcome to the Book App</h1>
    <p class="welcome-text">This is a simple book search app that allows you to search for books by title or author</p>
    <p class="welcome-text">Click the link below to go to the search page</p>
    <a class="button" href="/searches/new">Search for a Book</a>
</div>
<div class="result-container">
    <% if (typeof books !== 'undefined' && books.length > 0) { %>
        <% books.forEach(function(book){ %>
            <div class="result">
                <img src="<%= book.image || 'book-icon-139.png' %>" alt="<%= book.title %>">
                <h3><%= book.title %></h3>
                <p>Author:<%= book.author %></p>
                <a class="view-details-button" href="/books/<%= book.id %>">View Details</a>
            </div>
        <% }); %> 
    <% } else { %>
        <p class="no-books-found">No books saved</p>
    <% } %>
</div>
  <%- include('../layouts/footer') %> 
</body> 
</html>

